<!DOCTYPE HTML>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="../../dist/infinite-scroll.js"></script>
  <title>Super Calculator</title>
</head>
<body class="ng-cloak" ng-app="myApp">

  <div ng-controller='MyController'>
    <div class="scroll">
      <ul infinite-scroll='load(10)'
           infinite-scroll-distance='1'
           infinite-scroll-parent>
      <li ng-repeat='image in images track by $index'>{{image}} </li>
      </ul>
    </div>
  </div>

  <script>
  var myApp = angular.module('myApp', ['infinite-scroll']);

  myApp.controller('MyController', function($scope) {
    $scope.images = [];

    $scope.load = function(count) {
      console.log('loadmore')
      var last = $scope.images[$scope.images.length - 1];
      for(var i = 1; i <= count; i++) {
        $scope.images.push((last || 0) + i);
      }
    };
  });
  </script>

</body>
</html>
